<p>Find me in app/views/message/show.html.erb</p>
<p>Find me in app/views/message/show.html.erb</p>

<h3>IN messages</h3>

<ol class="messages">
  <% @inmessage.each do |inmessage| %>
      <li>
        <span class="sender">Sender: <%= inmessage.sender.name %></span>&nbsp &nbsp
        <span class="content">Text: <%= inmessage.body %></span>
      </li>
  <% end %>
</ol>

