<div class="col-md-6">
  <% provide(:title, 'All users') %>
  <h1>All users</h1>

  <%= will_paginate %>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
        <tr>
          <td><%=link_to user.name, 'users#allmes' %></td>
          <td><%=link_to 'Sent Message', new_message_path(reciver_id: user.id), class: "btn btn-primary btn-xs start-conversation",
                  "data-sid" => current_user.id, "data-rip" => user.id%></td>
        </tr>
    <% end %>
  </table>

  <br />
  <%= will_paginate %>
</div>
